.jumbotron {
  padding: 50px 25px;
}
.title {
  color: #e48800;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-bottom: 20px;
  font-size: 16px;
}

.title-h2 {
  color: #e48800;
  font-size: 18px;
}
h2.heading-title {
  color: #000000;
  font-family: "Montserrat", Sans-serif;
  font-size: 28px;
  font-weight: 500;
}

.list-group {
  list-style: none;
}

.list-group li {
  margin-bottom: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.list-group li .icon {
  width: 50px;
  height: 50px;
  font-size: 20px;
  padding: 8px 0;
  text-align: center;
  border: 2px solid #4e8ba1;
  color: #4e8ba1;
  border-radius: 50%;
}

.list-group li:hover .list-text {
  transition: all 0.5s ease;
  color: #1aabe0;
}
.list-group li:hover .icon {
  color: #1aabe0;
  border: 2px solid #1aabe0;
}

.list-group li .list-text {
  margin-left: 10px;
  font-weight: 600;
  font-size: 14px;
  color: #434343;
}

.card {
  font-family: "Montserrat", sans-serif;
  background-color: transparent;
  border: none;
  padding-bottom: 40px;
}

.card .inner {
  overflow: hidden;
}

.card .inner:hover img {
  transition: all 0.5s ease;
  transform: scale(1.3);
}

.card .card-subtitle {
  text-transform: uppercase;
  color: #e48800;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 2.5px;
  margin-bottom: 1rem;
  cursor: pointer;
}

.card .card-subtitle:hover {
  transition: all 0.5s ease;
  color: #ffa41b;
}

.card .card-title {
  font-family: "Raleway", sans-serif;
  margin-bottom: 1rem;
  color: #373c44;
  font-weight: 400;
}

.card h5.card-title {
  font-size: 18px;
}

h2.card-title {
  font-size: 28px;
}

.card a {
  color: #e48800;
  fill: #e48800;
  -webkit-text-fill-color: initial;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.card a:hover {
  transition: all 0.5s ease;
  color: #ffa41b;
}

.button-link a {
  font-weight: 600;
  fill: #e48800;
  color: #e48800;
  background-color: rgba(255, 255, 255, 0);
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #e48800;
  border-radius: 20px 20px 20px 20px;
  padding: 10px 40px;
}

.button-link a:hover {
  transition: all 0.5s ease;
  background-color: #e48800;
  color: #ffffff;
}

.bg-own-light {
  background-color: #f9f9f9;
}

@media only screen and (max-width: 768px) {
  .list-group {
    justify-content: center;
    flex-direction: row;
  }

  .list-group li {
    margin-right: 10px;
  }
  .list-group .list-text {
    display: none;
  }
  h2.card-title {
    font-size: 20px;
  }
}
